Style.css

.header{
background-color:blue;

height:150px;
}

.logo{
background-color:orange

float:left;
}

.sidebar{
background-color:orange;
float:right;
}
.title{
background-color:orange;
margin:auto;
width:100px;
}